@font-face {
  font-family: 'iconfont';  /* project id 1248146 */
  src: url('http://at.alicdn.com/t/font_1248146_cy1h0l2deyg.eot');
  src: url('http://at.alicdn.com/t/font_1248146_cy1h0l2deyg.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1248146_cy1h0l2deyg.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1248146_cy1h0l2deyg.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1248146_cy1h0l2deyg.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1248146_cy1h0l2deyg.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
